import type { Meta, StoryObj } from '@storybook/react';
import { __COMPONENT_NAME__, __COMPONENT_NAME__Props } from './';

const meta = {
  component: __COMPONENT_NAME__,
} satisfies Meta<typeof __COMPONENT_NAME__>;

export default meta;

type Story = StoryObj<typeof meta>;

const props: __COMPONENT_NAME__Props = {
  children: "Hello World",
};

export const __COMPONENT_NAME__Story: Story = {
  args: props
};
