import { useIntl } from "react-intl";
import { useMemo } from "react";

export interface Locales {
  demo: string;
}

export function useLocales(): Locales {
  const intl = useIntl();
  return useMemo(() => {
    const demo = intl.formatMessage({ id: "path.to.demo" });
    return {
      demo
    };
  }, [intl]);
}
