import { useIntl } from "react-intl";
import { useMemo } from "react";

export interface Locales {
  demo: string;
}

export function useLocales(): { locales: Locales } {

  const intl = useIntl();

  const locales: Locales = useMemo(() => {
    const demo = intl.formatMessage({ id: "path.to.demo" });
    return {
      demo
    };
  }, [intl]);

  return { locales };
}
